<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b63f8773-335b-4da5-a533-1ac4cc683e60/resourceGroups/MasterQuizAPIResourceGroup/providers/Microsoft.Web/sites/MasterQuizAPI</ResourceId>
    <ResourceGroup>MasterQuizAPIResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b63f8773-335b-4da5-a533-1ac4cc683e60/resourceGroups/MasterQuizAPIResourceGroup/providers/Microsoft.ApiManagement/service/MasterQuizAPI/apis/MasterQuizAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://masterquizapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6257565a-a797-4e25-9a1a-2a6ffa43b5b4</ProjectGuid>
    <MSDeployServiceURL>masterquizapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MasterQuizAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MasterQuizAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>